    /*Primary */
    
    $colorDesaturatedDarkCyan: hsl(180, 29%, 50%);
    /*Neutral */
    
    $colorLightGrayishCyan: hsl(180, 52%, 96%);
    $colorLightGrayishCyanHeader: hsl(180, 31%, 95%);
    $colorDarkGrayishCyan: hsl(180, 8%, 52%);
    $colorVeryDarkGrayishCyan: hsl(180, 14%, 20%);