@import '../styles/variable';
@import '../styles/mixin';
.jobContent {
    img {
        width: 3rem;
        height: 3rem;
        transform: translateY(-50%);
        margin-bottom: .8rem;
    }
    .jobInfo {
        display: grid;
        margin-top: -2rem;
        h1 {
            margin-bottom: .8rem;
            color: $colorVeryDarkGrayishCyan;
            font-size: 1.1rem;
            cursor: pointer;
        }
        .companyInfoHeader {
            @include flex(row, flex-start);
            gap: .5rem;
            margin-bottom: .8rem;
            span {
                font-size: .9rem;
                color: $colorDesaturatedDarkCyan;
                font-weight: 700;
            }
            button {
                font-size: .6rem;
                border: none;
                color: #fff;
                padding: .5rem;
                border-radius: 1rem;
                font-weight: 700;
            }
            .new {
                background-color: $colorDesaturatedDarkCyan;
                margin-right: .5rem;
            }
            .feature {
                background-color: $colorVeryDarkGrayishCyan;
            }
        }
        .companyInfoFooter {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: .5rem;
            li {
                list-style: none;
                color: $colorDarkGrayishCyan;
                font-size: .9rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    // margin-right: 4rem;
    span {
        font-size: .6rem;
        color: $colorDesaturatedDarkCyan;
        background-color: $colorLightGrayishCyanHeader;
        padding: 0.25em 0.5em;
        font-weight: 700;
        border-radius: .2rem;
        font-size: .9rem;
        cursor: pointer;
        &:hover {
            background-color: $colorDesaturatedDarkCyan;
            color: #fff;
        }
    }
}

@media (min-width: 42em) {
    .jobContent {
        img {
            width: 4rem;
            height: 4rem;
        }
    }
}

@media (min-width: 62em) {
    .jobContent {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        img {
            margin-bottom: 0;
            transform: translateY(0);
        }
        .jobInfo {
            margin-top: 0;
            h1 {
                font-size: 1.1rem;
            }
            hr {
                display: none;
            }
            .companyInfoHeader {
                span {
                    font-size: 1rem;
                    margin-bottom: 0;
                }
            }
            .companyInfoFooter {
                li {
                    font-size: .9rem;
                    margin-bottom: 0;
                }
            }
        }
    }
    .tag {
        justify-content: flex-end;
        flex-wrap: nowrap;
        margin-top: 0;
        margin-right: 0;
        span {
            font-size: .8rem;
            padding: .8rem;
        }
    }
}

@media (min-width: 87em) {
    .jobContent {
        img {
            width: 5rem;
            height: 5rem;
        }
        .jobInfo {
            margin-top: 0;
            h1 {
                font-size: 1.2rem;
            }
            .companyInfoHeader {
                span {
                    font-size: 1.2rem;
                }
            }
            .companyInfoFooter {
                li {
                    font-size: 1rem;
                }
            }
        }
    }
    .tag {
        span {
            font-size: .8rem;
        }
    }
}